.container-input{
    display: flex;
    padding: 0rem;
    background: gray;
    margin: 0 -2rem;

}


.input{
    padding: 2rem;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: #3fe599;
    font-size: 1.2rem;
    outline: 0;
    color: #333;
}
.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */

}
.createButton{
    padding: 0rem 1rem;
    background-color: #3fe599;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}
